.container{
    
    border: 1px solid black;
    height: 400px;
    width: 1000px;
}
.img{
    height: 320px;
    width: 400px;
    margin-left: 16px;
}
.main{
    display: flex;
    justify-content: space-around;
}
button{
    margin-left: 40px;
}